# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# build
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Expo
__generated__
bare-apps
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
# Expo Go
/apps/expo-go/src/dist

# Xcode
*.pbxuser
!default.pbxuser
*.xccheckout
*.xcscmblueprint
xcuserdata

# IDEA / Android Studio
*.iml
.gradle
.idea

# Eclipse
.project
.settings

# VSCode
.vscode/
.history/
/vscode/launch.json

# iOS
**/ios/.xcode.env.local

# Vim
.*.swp
.*.swo
.*.swn
.*.swm
