[user]
        name = Yosuf Ali
        email = yosufali@users.noreply.github.com
        # signingkey = UPDATE
[init]
	defaultBranch = main

[includeIf "gitdir:**/work/**/.git"]
  path = ~/.gitconfig.work

[commit]
				# gpgsign = true - UNCOMMENT WHEN signingkey is updated


