[user]
        name = Yosuf Ali
        email = yosufali@users.noreply.github.com
        # signingkey = UPDATE
[init]
	defaultBranch = main
[commit]
        # gpgsign = true - UNCOMMENT WHEN signingkey is updated
