"*":
  core:
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "fddb8e9d-94cf-0583-d00a-b9cb94e7da92"
  "git-plus":
    general:
      _analyticsUserId: "799dfbe7-5f90-401a-a850-6132548f4f69"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
